{% load static %}

	<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading"></h2>
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									<div class="col-sm-12 col-md-4 col-lg-4">
										<div class="single-event" style="text-align: center;">
											<img src="{% static 'images/logo.png'%}" class="img-responsive center-block" width="15%" height="15%"/><br />
											<h4>The Conference - CO<sub>4</sub>Con</h4>
											<h5>CO<sub>4</sub>Con, COllaboration, COntribution, COmmunities and COmmons. At CO<sub>4</sub>Con , we present discussions, seminars and workshops on a diversity of topics that reflect the key issues around technology and its impact on India. The themes of the conference converge on aim to develop new understanding of what technology means in the rapidly evolving global and national contexts</h5>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 col-lg-4">
										<div class="single-event" style="text-align: center;">
											<img src="{% static 'images/fsmi.png'%}" class="img-responsive center-block" width="55%" height="100%" /><br />
											<h4><a class="white" href="http://fsmi.in" target="_blank">The Coalition - FSMI</a></h4>
											<h5>
												FSMI  is the premier organisation working for the use , popularisation and dissemination of Free Software, Open technology and the commons. What began as a drive to spread the use of Free Software has today become an <a href="http://fsmi.in/#member-organisations" target="_blank" class="white">umbrella organisation</a> comprising 16 sectoral and technical organisations that reach out to 1000’s of students every year.
											</h5>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 col-lg-4">
										<div class="single-event" style="text-align: center;">
											<h4><a class="white" href="https://fsftn.org" target="_blank">The Hosts - FSFTN</a></h4>
											<h5>
												FSFTN has since 2008 being conducting workshops, seminars and public events on a variety of issues to do with the democratisation of technology and breaking digital barriers, as well matters of policy. The organisation seeks to tap the potential of the State to visualise and put into practice alternatives, both at technological and social levels.
											</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
