{% load static %}
<div class="contact-section" id="contact-details">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-lg-3 col-md-3" id="map">
				 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=80.2366304397583%2C13.034228696711855%2C80.24149060249329%2C13.036873143074903&layer=transportmap&marker=13.035550923425609%2C80.2390605211258"></iframe><br/><small><a href="https://www.openstreetmap.org/export/embed.html?bbox=80.2366304397583%2C13.034228696711855%2C80.24149060249329%2C13.036873143074903&layer=transportmap&marker=13.035550923425609%2C80.2390605211258">View Larger Map</a></small>
			</div>
			<div class="col-md-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-md-3">
				<div class="contact-address">
					<h3>Snail Mail</h3>
					<address>
					Free Software Foundation Tamil Nadu(FSFTN) <br />
					36 (old #24) Thanikachalam Road,<br />
					Flat No. 2, First Floor, B Block,<br />
					Silverpark Apartments, T. Nagar,<br />
					Chennai - 600017.
					</address>
                    <div class="contact-text">

    				</div>
				</div>
			</div>
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div id="contact-section">
					<h3>Contact</h3>
                    <address>
                        <strong>Mobile</strong> :<br />
                        Prasanth : +91 7358061142<br />
                        Sibi : +91 7358061143<br />
                        <strong>E-mail :</strong><br />
                        ask@fsftn.org<br />
                        prasanth@fsftn.org<br />
                        sibi@fsftn.org
                        <strong>Landline</strong> : 044 -43504670<br />
                    </address>
                    <!--
			    	<div class="status alert alert-success" style="display: none"></div>
			    	<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
			            <div class="form-group">
			                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
			            </div>
			            <div class="form-group">
			                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
			            </div>
			            <div class="form-group">
			                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
			            </div>
			            <div class="form-group">
			                <button type="submit" class="btn btn-primary pull-right">Send</button>
			            </div>
			        </form>
                -->
			    </div>
			</div>
		</div>
	</div>
</div>
