{% load static %}

<div id="sponsor-carousel" class="carousel slide" data-interval="false">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h2>Sponsors</h2>
				<a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
						<ul>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor1.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor2.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor3.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor4.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor5.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor6.png' %}" alt=""></a></li>
						</ul>
					</div>
					<div class="item">
						<ul>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor6.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor5.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor4.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor3.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor2.png' %}" alt=""></a></li>
							<li><a href="#"><img class="img-responsive" src="{% static 'images/sponsor/sponsor1.png' %}" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="light">
		<img class="img-responsive" src="{% static 'images/light.png' %}" alt="">
	</div>
	<div class="row">
		<div class="col-lg-offset-5 col-md-offset-5 col-sm-12 col-xs-12 col-lg-4 col-md-4">
			<button class="btn btn-success">Download Sponsorship Brouchure</button>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>