{% load static %}
<div class="venue-section" id="venue-details">
	<div class="container">
        <h2> About the Venue </h2>
		<div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                B.S. Abdur Rahman University, Vandalur, Chennai-600 048, (formerly B.S. Abdur Rahman Crescent Engineering College) has been established under section 3 of the UGC Act 1956. The University is located in the outskirts of Chennai city on the G.S.T. Road, (Chennai-Trichy National Highway) 7 km from Tambaram and 2 km from Vandalur Railway Station and 17 km from the International Airport. Being adjacent to the Arignar Anna Zoological Park, it is easily accessible by city buses.<br />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6">
				<div class="venue-address">
                    <img src="{% static 'images/venue.jpg'%}" width="60%" height="60%"/>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 col-md-6" id="map">
				 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=80.07157802581789%2C12.87031741505985%2C80.09543895721436%2C12.882491735912216&amp;layer=mapnik&amp;marker=12.876404649403613%2C80.08350849151611" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=12.8764&amp;mlon=80.0835#map=16/12.8764/80.0835">View Larger Map</a></small>
			</div>
		</div>
	</div>
</div>
